<form action="/signup" method="POST">
    <input name="username" placeholder="Username">
    <input name="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button>Signup</button>
</form>
